<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.usans">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Data.FacilityList"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.ReportListActivity"></activity>
        <activity android:name=".Activity.BigActivity" />
        <activity android:name=".Activity.ImageActivity" />
        <activity android:name=".Activity.ReportActivity" />
        <activity android:name=".Activity.WriteCommentActivity" />
        <activity android:name=".Activity.AddSansAcitivity" />
        <activity android:name=".Activity.DetailActivity" />
        <activity android:name=".Activity.BoardActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".FitActivity" />
        <activity android:name=".WebActivity" />
        <activity android:name=".FitActivity2" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCaqvwkL7Ho0RgE5yACxhSpQyGE7rXo2YI" />
    </application>

</manifest>